.idea/
.classpath
.project
.settings/
nb-configuration.xml
nbactions.xml
src/main/main.iml
src/test/test.iml
src/main/resources/static/app/
src/main/resources/static/node_modules/
src/main/resources/static/src/app/css/application.min.css
src/main/resources/static/src/app/fonts/
src/main/resources/static/src/app/js/application.min.js
src/main/resources/static/src/lib/
src/main/resources/static/src/tmp/
/target/
