.idea/
.classpath
.project
.settings/
nb-configuration.xml
nbactions.xml
src/main/main.iml
src/test/test.iml
pulsaractivo.iml
src/main/resources/static/
src/main/resources/node_modules/
src/main/resources/src/app/css/application.min.css
src/main/resources/src/app/fonts/
src/main/resources/src/app/js/application.min.js
src/main/resources/src/lib/
src/main/resources/src/tmp/
/target/
