<h1>Device</h1>

<table class="table table-bordered table-condensed">
    <tbody>
        <tr>
            <th class="show-header">Name</th>
            <td>{{device.name}}</td>
        </tr>
        <tr>
            <th class="show-header">Imei</th>
            <td>{{device.imei}}</td>
        </tr>
    </tbody>
</table>

<ul class="list-inline">
    <li>
        <a class="btn btn-default" href="#/devices/1">
            <span class="glyphicon glyphicon-arrow-left"></span> Back to List
        </a>
    </li>
</ul>