<h1>Dispositivo: {{device.name}}</h1>

<table class="table table-bordered table-condensed">
    <tbody>
        <tr>
            <th class="show-header">Nombre</th>
            <td>{{device.name}}</td>
        </tr>
        <tr>
            <th class="show-header">Imei</th>
            <td>{{device.imei}}</td>
        </tr>
        <tr>
            <th class="show-header">Nº de Teléfono</th>
            <td>{{device.phoneNumber}}</td>
        </tr>
        <tr>
            <th class="show-header">Tipo de Dispositivo</th>
            <td>{{device.type}}</td>
        </tr>
        <tr>
            <th class="show-header">Tipo de Proveedor</th>
            <td>{{device.providerType}}</td>
        </tr>
    </tbody>
</table>

<ul class="list-inline">
    <li>
        <a class="btn btn-default" href="#/devices/1">
            <span class="glyphicon glyphicon-arrow-left"></span> Volver a la lista
        </a>
    </li>
</ul>