<div class="row">
    <div class="col-xs-12 col-sm-8">
        <ui-gmap-google-map center="map.center" control="map.control" zoom="map.zoom">
            <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" events="markersEvents"  control="map.markerControl">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>
                        <h4>{{title}}</h4>
                        <p>{{type}}</p>
                    </div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div id="devices-panel" class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-signal"></span> DISPOSITIVOS
                <input type="text" class="form-control" ng-model="deviceFilter" placeholder="Filtro">
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th style="width: 35px;"></th>
                        <th>Nombre</th>
                        <th>Imei</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="device-row" ng-repeat="device in devices | filter:deviceFilter"  ng-click="showDeviceInMaps(device)">
                        <td class="text-center"><img src="{{device.type === 'AVL' ? '/images/car-info.png' : '/images/phones-info.png'}}"></td>
                        <td>{{device.name}}</td>
                        <td>{{device.imei}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="events-panel" class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-bullhorn"></span> EVENTOS
                <input type="text" class="form-control" ng-model="eventFilter" placeholder="Filtro">
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Device</th>
                        <th class="nowrap">Fecha - hora</th>
                        <th>[lat, lng]</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="event in events | filter:eventFilter" ng-class="{'danger': event.type == 'ALERT'}">
                        <td>{{event.type === 'POSITIONUPDATE' ? 'PU' : 'A'}}</td>
                        <td>{{event.device.name}}</td>
                        <td class="nowrap">
                            {{event.dateTime.dayOfMonth}}/{{event.dateTime.monthValue}}/{{event.dateTime.year}}
                        </td>
                        <td>[{{event.lat}},{{event.lng}}]</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-fire"></span> Alertas</h4>
            </div>
            <div class="modal-body no-padding">
                <table class="table table-condensed remove-margin-bottom">
                    <thead>
                        <tr>
                            <th style="width: 35px;"></th>
                            <th>Dispositivo</th>
                            <th class="text-center">Fecha - Hora</th>
                            <th class="text-center">[lat, lng]</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="alert in alerts">
                        <td class="text-center"><img src="{{alert.device.type === 'AVL' ? '/images/car-info.png' : '/images/phones-info.png'}}"></td>
                        <td>{{alert.device.name}}</td>
                        <td class="nowrap text-center">
                            {{alert.dateTime.dayOfMonth}}/{{alert.dateTime.monthValue}}/{{alert.dateTime.year}}
                        </td>
                        <td class="text-center">[{{alert.lat}}, {{alert.lng}}]</td>
                        <td><button class="btn btn-danger">Atender</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
(function () {

}());
</script>


<!--
<div class="row">
    <div class="col-xs-12">
        <ui-gmap-google-map center="map.center" control="control" zoom="map.zoom"></ui-gmap-google-map>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Dispositivos</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Imei</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="device in devices">
                        <td>{{device.name}}</td>
                        <td>{{device.imei}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6"></div>
        <h3>Eventos</h3>
    </div>
</div>-->
