<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-bullhorn"></span> EVENTOS
                <button class="btn btn-default btn-xs pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                Eventos...
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-signal"></span> DISPOSITIVOS
                <button class="btn btn-default btn-xs pull-right">
                    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                </button>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li ng-repeat="group in groups">
                        {{ group.name }}
                        <ul>
                            <li ng-repeat="fleet in group.fleets">
                                {{ fleet.name }}
                                <ul>
                                    <li ng-repeat="device in fleet.devices">
                                        {{ device.name }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <ui-gmap-google-map center="map.center" control="control" zoom="map.zoom"></ui-gmap-google-map>
    </div>
</div>