.angular-google-map-container {
	height: 400px;
	width: 100%;
}

.remove-margin-bottom {
	margin-bottom: 0;
}

th.show-header {
    text-align: right;
    width: 30%;
}

.logo {
    width: 117px;
    /*background-color: white;*/
    background-image: url(../images/logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
