html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

nav.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.angular-google-map-container {
	/*height: 500px;*/
	width: 100%;
}

.angular-google-map > div {
    height: 93vh !important;
}

.remove-margin-bottom {
	margin-bottom: 0;
}

td, th {
    vertical-align: middle !important;
}

th.show-header {
    text-align: right;
    width: 30%;
}

.logo {
    width: 117px;
    background-image: url(../images/logo.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#devices-panel {
    height: 50vh !important;
    overflow: auto;
}

#devices-panel .panel-body {
    padding: 0;
}

#events-panel {
    height: 38vh !important;
    overflow: auto;
}

.nowrap {
    white-space: nowrap;
}

.device-row {
    cursor: pointer;
}

#iw-container  .iw-title {
   font-size: 16px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

